.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  padding: 2rem 1rem 4rem 1rem;
}

@media only screen and (min-width: 725px) {
  .container {
    display: grid;
    justify-content: space-between;
    padding: 1rem 8rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
  }
}
